<%- include("partials/header") %>

<div class="container">
	<header class="jumbotron">
		<h1>This is the landing page</h1>	
	</header>
	<a href="/campgrounds">View all campgrounds</a>
</div>

<%- include("partials/header") %>
